// Media breakpoints
$sm: 576px;
$md: 768px;
$lg: 1200px;

//Temp
$total_h: 3.53 * 100vw;
$total_h_mobile: 9 * 100vw;

h1, h2 {
    font-family: Jost;
    color: $white;
}

h3, h4 {
    font-family: Mullish;
    color: $white;
}

p {
    font-family: Mullish;
    color: $white;
}

ul {
    font-family: Mullish;
    color: $white;
}

body {
    background-image: url(../assets/background/Splash_Background.svg);
    @media (max-width: $sm) {
        background-image: url(../assets/background/Splash_Background_Mobile.svg);
    }
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    position: relative;
    
    &#cover{
        z-index: 2;
        min-height: 0.19 * $total_h;
        @media (max-width: $sm) {
            min-height: 0.07 * $total_h_mobile;
        }
    }
    &#about{
        z-index: 2;
        min-height: 0.18 * $total_h;
        @media (max-width: $sm) {
            min-height: 0.15 * $total_h_mobile;
        }
    }
    &#tracks{
        z-index: 3;
        min-height: 0.14 * $total_h;
        @media (max-width: $sm) {
            min-height: 0.12 * $total_h_mobile;
            max-height: 0.16 * $total_h_mobile;
        }
    }
    &#faq{
        z-index: 2;
        min-height: 0.18 * $total_h;
        @media (max-width: $sm) {
            // min-height: 0.18 * $total_h_mobile;
        }
    }
    &#schedule{
        z-index: 2;
        min-height: 0.18 * $total_h;
        @media (max-width: $sm) {
            min-height: 0.06 * $total_h_mobile;
        }
    }
    &#footer{
        z-index: 2;
        min-height: 0.085 * $total_h;
        @media (max-width: $sm) {
            min-height: 0.04 * $total_h_mobile;
        }
    }

    .content {
        position: relative;
        z-index: 3;
    }
}

.header {
    text-align: center;
    padding-top: 0.02 * $total_h;
    @media (max-width: $sm) {
        // min-height: 0.02 * $total_h_mobile;
    }
    font-size: 5vw;
    letter-spacing: .25em;
    color: $white;
    text-transform: uppercase;
    text-shadow:1px 1px 4px $white;
    @media (max-width: $sm) {
        font-size: 9vw;
    }

}
