$color-primary: #0e95d4;
$color-secondary: #ffd946;
$color-tertiary: #063b54;
$footer-bg: #444;
$footer-text: #eee;

/* GENERAL */
body {
  margin: 0;
  padding: 0;
}

body,
.ui.text.container,
.ui.header {
  font-family: "Roboto", sans-serif;
}

.vspace {
  height: 5vh;
  min-height: 20px;
  max-height: 80px;
}

/* HEADER */

#header-section {
  padding: 0 0 30px 0;
  border-bottom: 8px solid $color-secondary;
  cursor: url(/assets/images/pencil.png), auto;

  #bpdb-btn-cont {
    position: absolute;
    cursor: pointer;
    top: 1em;
    left: 1em;
    color: white;
    z-index: 2;
  }

  #bpdb-bg-cont, #bpdb-stroke-cont {
    position: absolute;
    width: 100%;
  }

  #bpdb-bg-canv, #bpdb-stroke-cont {
    width: 100%;
  }

  #bpdb-bg-cont {
    z-index: -1;
  }

  #bpdb-stroke-cont {
    z-index: 1;
  }

  .logo {
    height: 100px;
  }

  #header-title {
    margin: 10px 0 0 0;
    font-size: 450%;
    font-family: 'Rokkitt', serif;
  }

  #header-date {
    margin: 0;
    font-size: 150%;
    font-weight: 400;
  }

  #header-image-container {
    padding-top: 40px;

    .header-image object {
      width: 160px;
      border-radius: 80px;
      margin: auto;
      cursor: url(/assets/images/pencil.png), auto;
    }

    h2 {
      margin-top: 10px;
      font-family: "Rokkitt", sans-serif;
      font-size: 250%;
    }
  }
}

/* BLURB */

#blurb-section {
  border: 0 !important;
  padding: 0 !important;

  #blurb {
    margin: 0;
    padding: 20px 0 0 0;
    color: $color-tertiary;
    font-size: 150%;
    font-style: italic;
  }
}

/* ABOUT */
#about-section {
}

/* FAQ */
#faq-section {
  margin-top: 20px;
  .card {
    box-shadow: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 50px 30px 10px 30px;
    width: 300px;
    height: 300px;

    &.one {
      background-image: url(../images/stickywithtape.png);
    }

    &.two {
      background-image: url(../images/stickywithtape2.png);
    }

    &.three {
      background-image: url(../images/stickywithtape3.png);
    }
  }

  .clarification {
    margin: 20px 0;
  }
}

/* FOOTER */
#footer-section {
  padding: 40px;
  background-color: $color-tertiary;
  color: $footer-text;
  border-radius: 0;

  #footer-social {
    margin-bottom: 20px;

    .icon {
      margin: 0 10px;
    }

  }

  a {
    color: $footer-text;
  }

  #footer a {
    color: $color-secondary;
  }
}

@media (max-width: 728px) {
  #header-section {
    #header-image-container {
      .column {
        padding-left: 0.5em !important;
        padding-right: 0.5em !important;
      }
      .header-image object {
        width: 100%;
      }
      h2 {
        font-size: 200%;
      }
    }
  }
}

@media (max-width: 420px) {
  #header-section {
    #header-image-container {
      h2 {
        font-size: 150%;
      }
    }
  }
}
