$color-primary: #0e95d4;
$color-secondary: #ffd946;
$color-tertiary: #063b54;
$footer-bg: #444;
$footer-text: #eee;

/* GENERAL */
body {
  margin: 0;
  padding: 0;
}

.vspace {
  height: 5vh;
  min-height: 20px;
  max-height: 80px;
}

/* HEADER */

#header-section {
  padding: 0 0 30px 0;
  border-bottom: 8px solid $color-secondary;

  #blueprint-canv-cont {
    position: absolute;
    width: 100%;
    z-index: -1;

    #blueprint-canv {
      width: 100%;
    }
  }

  .logo {
    height: 100px;
  }

  #header-title {
    margin: 10px 0 0 0;
    font-size: 450%;
    font-family: 'Rokkitt', serif;
  }

  #header-date {
    margin: 0;
    font-size: 150%;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
  }

  #header-image-container {
    padding-top: 40px;

    .header-image {
      width: 160px;
      height: 160px;
      border-radius: 80px;
      margin: auto;
    }

    h2 {
      margin-top: 10px;
      font-family: "Rokkitt", sans-serif;
      font-size: 250%;
    }
  }
}

/* BLURB */

#blurb-section {
  #blurb {
    padding: 40px 0;
    color: $color-tertiary;
    font-family: 'Roboto', sans-serif;
  }
}

/* INFO */
#info-section {
  .menu .item {
    cursor: pointer;
  }
}

/* FOOTER */
#footer-section {
  padding: 40px;
  background-color: $color-tertiary;
  color: $footer-text;
  border-radius: 0;

  #footer-social {
    margin-bottom: 20px;

    .icon {
      margin: 0 10px;
    }

  }

  a {
    color: $footer-text;
  }

  #footer a {
    color: $color-secondary;
  }
}
