$color-primary: #217acc;
$color-secondary: #11afff;
$color-tertiary: #6dcc36;
$color-quaternary: #fde74c;
$color-white: #ffffff;
$color-black: #202020;
$footer-bg: #11afff;
$footer-text: #ffffff;

/* GENERAL */
body {
  margin: 0;
  padding: 0;
}

body,
.ui.text.container,
.ui.header {
  font-family: "Roboto", sans-serif;
}

.title {
  font-family: 'Rokkitt', serif !important;
}

.vspace {
  height: 8vh;
  min-height: 40px;
  max-height: 100px;
}

.button {
  display: inline-block;
  margin: 25px auto;
  background-color: $color-secondary;
  padding: 0.8em 3em;
  color: $color-white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
  text-align: center;
  border: 0;
  cursor: pointer;
}

.button:hover {
  background-color: $color-primary;
  color: $color-white;
}

.button.disabled, .button.disabled:hover {
  background-color: darken($color-white, 20%);
  cursor: default;
}

*, *:hover {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

#view {
  min-height: 100vh;
}

@keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
     -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
}

@keyframes sending {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    margin-top: -20px;
  }
  40% {
    -webkit-transform: rotate(60deg) scale(0.75);
    transform: rotate(60deg) scale(0.75);
    margin-top: 0px;
  }
  100% {
   -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    margin-top: -40px;
    margin-left: 100px;
    opacity: 0;
  }
}

::selection {
  background: lighten($color-secondary, 25%);
}

::-moz-selection {
  background: lighten($color-secondary, 25%);
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* HEADER */

#header-section {
  padding: 0 0 30px 0;
  border-bottom: 8px solid $color-secondary;
  cursor: url(../images/pen.png), auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  #bpdb-btn-cont {
    position: absolute;
    cursor: pointer;
    top: 1em;
    left: 1em;
    color: $color-white;
    z-index: 2;
    -webkit-transition: 1s;
    transition: 1s;
  }

  .bpdb-btn:hover {
    color: darken($color-white, 10%);
  }

  .spin {
    -webkit-animation: spin 1s;
    animation: spin 1s;
  }

  .fly {
    -webkit-animation: sending 1.5s;
    animation: sending 1.5s;
  }

  #bpdb-bg-cont, #bpdb-stroke-cont {
    position: absolute;
    width: 100%;
  }

  #bpdb-bg-canv, #bpdb-stroke-cont {
    width: 100%;
  }

  #bpdb-bg-cont {
    z-index: -1;
  }

  #bpdb-stroke-cont {
    z-index: 1;
  }

  .color-option {
    height: 20px;
    width: 20px;
    margin: 5px;
    border-radius: 10px;
    float: right;
  }

  .yellow-color-option {
    background: $color-quaternary;
    margin-left: 30px;
  }

  .green-color-option{
    background: $color-tertiary;
  }

  .blue-color-option{
    background: $color-secondary;
  }

  .selected-color {
    box-shadow: 0px 0px 0px 3px #ACCDEC;
  }

  .logo {
    height: 170px;
    position: relative;
    bottom: 8px;
  }

  .triangle {
    position: absolute;
  }

  .yellow-triangle {
    height: 60px;
    left: 18vw;
    top: 16vh;
  }

  .green-triangle {
    height: 80px;
    left: 13vw;
    top: 45vh;
  }

  .blue-triangle {
    height: 80px;
    right: 14vw;
    top: 50vh;
  }

  #header-title {
    margin: 10px 0 0 0;
    font-size: 650%;
  }

  #header-date {
    margin: 0;
    font-size: 150%;
    font-weight: 100;
  }

  #header-image-container {
    padding-top: 60px;

    .header-image object {
      width: 50px;
      margin: auto;
      cursor: url(../images/pen.png), auto;
    }

    h2 {
      margin-top: 10px;
      font-family: "Rokkitt", serif;
      font-size: 150%;
    }
  }
}

/* BLURB */

#blurb-section {
  border: 0 !important;
  padding: 0 !important;

  #blurb {
    margin: 0;
    padding: 50px 0 0 0;
    color: $color-black;
    font-size: 125%;

    h2 {
      margin-top: -10px;
      font-size: 200%;
    }

    p {
      max-width: 500px;
      margin: auto;
      text-align: center;
    }
  }
}

/* ABOUT */
#about-section {
  color: $color-black;
  margin: 10px 0;
  padding: 40px 0;
  text-align: center;

  .about-triangles {
    position: absolute;
    height: 80px;
    left: 10vw;
    margin-top: -30px;
  }

  .title {
    color: $color-black;
    font-size: 40px;
    height: 50px;
    display: inline-block;
    margin: auto;
    margin-bottom: 30px;
    border-bottom: 5px solid $color-quaternary;
  }

  .grid {
    .centered {
      text-align: center;
      padding: 20px 0 10px 0;

      h3 {
        margin-bottom: 0;
        font-size: 28px;
        font-family: "Rokkitt", serif;
      }

      p {
        font-family: "Rokkitt", serif;
        font-size: 20px;
      }
    }

    ul {
      text-align: left;
    }
  }
}

/* SCHEDULE */
#schedule-section {
  padding-top: 50px;
  background-color: $color-white;
  text-align: center;

  div.ui.cards {
    margin: 25px 0 0 0;
  }

  .faq-triangles {
    position: absolute;
    height: 120px;
    right: 10vw;
    margin-top: -80px;
  }
  .title {
    color: $color-black;
    font-size: 40px;
    height: 50px;
    display: inline-block;
    margin: auto;
    margin-bottom: 20px;
    border-bottom: 5px solid $color-primary;
  }

  .card {
    box-shadow: none;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 5px 0px 5px 0px;
    text-align: left;

    h3 {
      font-family: "Rokkitt", serif;
      font-size: 20px;
    }
  }

  .time {
    font-size: 80%;
  }
  .clarification {
    padding-top: 40px;
    color: $color-black;
    a {
      color: $color-secondary;
      font-weight: 500;
      &:hover {
        color: $color-primary;
      }
    }
  }

}


/* FAQ */
#faq-section {

  padding: 50px 0;
  background-color: $color-white;
  text-align: center;

  div.ui.cards {
    margin: 25px 0 0 0;
  }

  .faq-triangles {
    position: absolute;
    height: 120px;
    right: 10vw;
    margin-top: -80px;
  }
  .title {
    color: $color-black;
    font-size: 40px;
    height: 50px;
    display: inline-block;
    margin: auto;
    margin-bottom: 20px;
    border-bottom: 5px solid $color-tertiary;
  }

  .card {
    box-shadow: none;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 5px 0px 5px 0px;
    text-align: left;

    h3 {
      font-family: "Rokkitt", serif;
      font-size: 20px;
    }
  }

  .clarification {
    padding-top: 40px;
    color: $color-black;
    a {
      color: $color-secondary;
      font-weight: 500;
      &:hover {
        color: $color-primary;
      }
    }
  }
}

/* FOOTER */
#footer-section {
  padding: 40px;
  margin: 0;
  background-color: $color-secondary;
  color: $footer-text;
  border-radius: 0;

  #footer-social {
    margin-bottom: 20px;

    .icon {
      margin: 0 10px;
    }

  }

  a {
    color: $footer-text;
    &:hover {
      color: darken($footer-text, 10%);
    }
  }

  #footer a {
    color: $color-quaternary;

    &:hover {
      color: darken($color-quaternary, 10%);
    }
  }
}

@media (max-width: 728px) {
  #header-section {
    .triangle {
        display: none;
      }
    #header-image-container {
      .column {
        padding-left: 0.5em !important;
        padding-right: 0.5em !important;
      }
      .header-image object {
        width: 100%;
      }
      h2 {
        font-size: 200%;
      }
    }
  }
  #about-section .about-triangles {
    height: 50px;
  }
  #faq-section .faq-triangles  {
    height: 80px;
  }
}

@media (max-width: 420px) {
  #header-section {
    #header-image-container {
      h2 {
        font-size: 150%;
      }
    }
  }
}

@media (min-height: 800px) {
  #view {
    min-height: 0;
  }
}
