#loading-bg {
    position: fixed;
    overflow: hidden;
    min-width: 100vw;
    min-height: 100vh;
    // min-height: 100%;
    // width: 200vw;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.25s ease;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#loading {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    top: 50%;
    left: 50%;
    z-index: 1000;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.25s ease;
}

.logo {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 640px;

    img {
        width: 100%;
    }

    h3 {
        color: #fff;
        font-family: Bitwise, sans-serif;
        font-size: 32px;
        position: absolute;
        right: -16px;
        bottom: -4px;
    }
}

p {
    color: #fff;
    font-family: Hermit, sans-serif;
    margin-top: 12px;
    text-align: center;
}

.items {
    display: table;
    list-style-type: none;
    margin: 16px auto 0;
    
    li {
        a {
            display: block;
            &.hover {
                h2 {
                    color: #4699d3;
                }
            }
            
            // &.default {
            //     h2 {
            //         color: #4699d3;
            //     }
            // }
            img {
                display: inline-block;
                height: 32px;
                margin-right: 16px;
                vertical-align: middle;
            }

            h2 {
                color: #fff;
                display: inline-block;
                font-family: Hermit, sans-serif;
                font-size: 36px;
                vertical-align: middle;

                
            }

            img.selected {
                opacity: 0;
                &#default-select{
                    opacity: 1;
                }
            }

            // &:hover {
            //     h2 {
            //         color: #4699d3;
            //     }
            // }
        }
    }
}

@media only screen and (max-width: 760px) {
    .logo {
        width: 80vw;

        h3 {
            font-size: 4vw;
        }
    }

    .items {
        li {
            a {
                img {
                    height: 24px;
                    margin-right: 12px;
                }

                h2 {
                    font-size: 28px;
                }
            }
        }
    }
}
