#register {

    top: 10vh;
    transform: translateX(-50%);

    h1 {
        color: #4699D3;
        font-family: Bitwise, sans-serif;
        font-size: 80px;
        position: relative;
        text-align: center;
    }

    p {
        color: #fff;
        display: block;
        font-family: Hermit, sans-serif;
        font-size: 20px;
        margin: 15vh auto 0;
        line-height: 2;
        text-align: center;
    }
}
