$blueprint-blue: blue;
$font-logo: 'Rokkitt', 'Helvetica Neue', 'Helvetica', sans-serif;
$font-body: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

section {

}

#splash {
  .logo {

  }

  .tagline {

  }

  .description {

  }

  .action {

    input {

    }
  }

}

#faq {

}

// Feel free to change this to a different word
#pumpup {

}