$blueprint-blue: rgb(0,136,255);
$font-logo: 'Rokkitt', 'Helvetica Neue', 'Helvetica', sans-serif;
$font-body: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;

$cloud: #d0d4d5;

@import 'mixins';

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: $font-body;
}

section {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.31);
}

#splash {
  position: relative;
  background:
    linear-gradient(rgba(0, 136, 255, 0.85), rgba(0, 84, 165, 0.85)),
    url('../../assets/images/background2.jpg') no-repeat center center;
  background-size: cover;
//  background: $blueprint-blue;
//  background-image: url(assets/images/background.jpg);
  width: 100%;
  height: 100%;

  .content {
    @include vertical-align;
    width: 80%;
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    color: white;

    .identity {
      font-family: $font-logo;
      .title {
        font-size: 5.8em;
      }

      .logo {
        height: 8em;
        width: 8em;
      }

    }

    .tagline {
      margin-top: -12px;
      font-size: 3em;
      font-family: $font-logo;
    }

    .date {
      font-size: 1.5em;
    }

    .description {
      margin-top: 16px;
      font-size: 1.3em;
    }

    .action {
      margin: 16px auto;

      input {
        background: white;
      }
    }
  }

}

#faq {
  position: relative;
  background: red;
  height: 50%;

}

// Feel free to change this to a different word
#pumpup {
  position: relative;
  background: purple;
  height: 50%;

}

footer {
  position: relative;
  height: 200px;
  background: $cloud;
}

// Mobile Styling
