body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

section {

}

#splash {
  .logo {

  }

  .tagline {

  }

  .description {

  }

  .action {

    input {

    }
  }

}

#faq {

}

// Feel free to change this to a different word
#pumpup {

}